table {
  width: 978px;
  height: 580px;
  border-collapse: collapse;
  text-align: center;
  color: #828282;
  background-image: url("/src/imgs/rounded-rectangle2x.png");
  background-size: cover;
}

/* .vertical {
  font-family: HelveticaNeueLTStd-Lt;
  transform: rotate(-90deg); */
/* -webkit-transform: rotate(-90deg); /* Safari/Chrome */
/* -moz-transform: rotate(-90deg); /* Firefox */
/* -o-transform: rotate(-90deg); Opera */
/* -ms-transform: rotate(-90deg);
} IE 9 */
