table {
  width: 489px;
  height: 290px;
  margin: 12px 395.5px 22.5px;
}
.header-row {
  width: 63px;
  height: 25px;
  margin: 0 65px 1px 0;
  padding: 7.5px 11px 8px 11.5px;
  font-size: 12.5px;
}
.table-row {
  width: 63px;
  height: 45px;
  border: 1px solid black;
}
.carb-row {
  width: 63px;
  height: 17.5px;
}
.bottom-rwo {
  width: 63px;
  height: 16.5px;
}
